<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="ShopBridgeConnectionString" connectionString="Data Source=local;Initial Catalog=ShopBridgeDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<add name="ShopBridgeConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ShopBridgeDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
	</connectionStrings>
</configuration>